 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Xavier’s is a charming restaurant & bar located on one of the bylanes beside the Anjuna Flea Market. It is situated within a generous extension of a Goan ancestral property and serves up one of the best seafood in the neighbourhood.</p>
                    <p>
                        Nestled in a quiet spot beyond a coconut tree lined pathway, Xaviers is located enroute South Anjuna beach, a stone’s throw away from the flea market grounds. A few yards inland, from the main road, it adds a homely touch with a garden and the main house behind the restaurant area. One could enjoy a calm read with chilled-out music in the background while their meal is being prepared. All ingredients are sourced from organic farms on the borders of Goa.</p>
                </div>
            </div>
        </div>
    </section>
